<!DOCTYPE html>
<html>

<head>
    <title>Credit Login / Register Form a Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Credit Login / Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
    />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--  <link href="//fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



</head>

<body>
    <h1>Welcome</h1>
    <div class="main-agileits">
        <div class="form-w3-agile">
            <h2>login form</h2>
            <form action="/app/login" method="POST" id="logform">
                <div class="form-sub-w3">
                    <input type="email" name="email" placeholder="Email " required="" id="logid" />
                    <div class="icon-w3">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3">
                    <input type="password" name="pwd" placeholder="Password" required="" id="logpwd" />
                    <div class="icon-w3">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="p-bottom-w3ls"><a class="w3_play_icon1" href="">Forgot Password?</a></p>
                <p class="p-bottom-w3ls">Are you new to eAppintment?<a class="w3_play_icon1" href="#small-dialog1">  Register here</a></p>

                <div class="submit-w3l">
                    <input type="submit" value="Login" id="log">
                </div>
            </form>
        </div>
        <!--//form-ends-here-->
    </div>
    <div id="small-dialog1" class="mfp-hide">
        <div class="contact-form1">
            <div class="contact-w3-agileits">
                <h3>Register Form</h3>
                <form action="/app/register" method="POST" id="logform">
                    <div class="form-sub-w3ls">
                        <input placeholder="Name" type="text" required="" name="name" id="name">
                        <div class="icon-agile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="Email" name="email" class="mail" type="email" required="" id="email">
                        <div class="icon-agile">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="Emitra-id" type="text" required="" id="emitra">
                        <div class="icon-agile">
                            <i class="" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="Mobile" type="number" required="" name="phone" id="phone">
                        <div class="icon-agile">
                            <i class="" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="Address" type="text" required="" id="address">
                        <div class="icon-agile">
                            <i class="" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="City" type="text" required="" name="city" id="city">
                        <div class="icon-agile">
                            <i class="" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="Pin Code" type="number" required="" name="pin" id="pin">
                        <div class="icon-agile">
                            <i class="" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        <input placeholder="Password" type="password" required="" name="pwd" id="pswd">
                        <div class="icon-agile">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        <input placeholder="Confirm Password" type="password" required="" name="cpwd" id="cpswd">
                        <div class="icon-agile">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        <div style="display:inline-block; width:50%;">
                            <input type="radio" name="gender" value="male" id="sex"> Male
                        </div>
                        <div style="display:inline-block; width:50%;">
                            <input type="radio" name="gender" value="female" id="sex"> Female
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        <div style="display:inline-block; width:50%;">
                            <input type="radio" name="role" value="doctor" id="role"> Doctor
                        </div>
                        <div style="display:inline-block; width:50%;">
                            <input type="radio" name="role" value="patient" id="role"> Patient
                        </div>
                    </div>


                    <div class="login-check">
                        <label class="checkbox">
                        <input type="checkbox" name="checkbox" id="terms">I Accept Terms & Conditions
                    </label>
                    </div>
                    <div class="submit-w3l">
                        <input type="submit" value="register" id="log">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- pop-up-box -->
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box -->
    <script>
        $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
    </script>
</body>

</html>