<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from healthadmin.thememinister.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Aug 2017 20:42:16 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Thememinister Health Admin panel</title>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/dist/img/ico/favicon.png" type="image/x-icon">
    

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap rtl -->
    <!--<link href="assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
    <!-- Pe-icon-7-stroke -->
    <link href="assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css"/>
    <!-- style css -->
    <link href="assets/dist/css/stylehealth.min.css" rel="stylesheet" type="text/css"/>
    <!-- Theme style rtl -->
    <!--<link href="assets/dist/css/stylehealth-rtl.css" rel="stylesheet" type="text/css"/>-->
</head>
<body>
    <!-- Content Wrapper -->
    <div class="login-wrapper">
        <div class="back-link">
            <a href="index-2.html" class="btn btn-success">Back to Dashboard</a>
        </div>
        <div class="container-center">
            <div class="panel panel-bd">
                <div class="panel-heading">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe-7s-unlock"></i>
                        </div>
                        <div class="header-title">
                            <h3>Payment Details</h3>
                            <small><strong>Please enter valid credentials.</strong></small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="http://healthadmin.thememinister.com/index.html" id="loginForm" novalidate>
                        <div class="form-group">
                            <label class="control-label" for="username">MERCHANTCODE</label>
                            <input type="text" name="username" id="ekey" value="HACKATHON2017"class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">PRN</label>
                            <input type="text" required value="" name="emerchant" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">REQTIMESTAMP</label>
                            <input type="text" name="username" id="ekey" value="20170818042219936"class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">PURPOSE</label>
                            <input type="text" name="username" id="ekey" value="TRIAL"class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">AMOUNT</label>
                            <input type="text" name="username" id="ekey" value=""class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">SUCCESSURL</label>
                            <input type="text" name="username" id="ekey" value="http://emitrauat.rajasthan.gov.in/merchantdemo/txn_success.jsp"class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">FAILUREURL</label>
                            <input type="text" name="username" id="ekey" value="http://emitrauat.rajasthan.gov.in/merchantdemo/txn_failure.jsp"class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">CANCELURL</label>
                            <input type="text" name="username" id="ekey" value="http://emitrauat.rajasthan.gov.in/merchantdemo/txn_failure.jsp"class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">USERNAME</label>
                            <input type="text" name="username" id="ekey" value="SHUBHAM"class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">USERMOBILE</label>
                            <input type="text" name="username" id="ekey" value="9521901175"class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">USEREMAIL</label>
                            <input type="text" name="username" id="ekey" value="s@gmail.com"class="form-control">
                        </div>
  <div class="form-group">
                            <label class="control-label" for="username">CHECKSUM</label>
                            <input type="text" name="username" id="ekey" class="form-control">
                        </div>


<input type="submit" value="confirm to pay">

                       
                    </form>



                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- jQuery -->
    <script src="assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
    <!-- bootstrap js -->
    <script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>

<!-- Mirrored from healthadmin.thememinister.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Aug 2017 20:42:16 GMT -->
</html>