<html>

<body>
    <form>
        <input type="text" id="searchbar" name="searchbar" value="searchbar">
        <input type="submit" id="btn" value="search">
    </form>
    <p>{{user}}</p>
    <strong>{{user.role}}</strong>
</body>

</html>